@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* criar classe container, classe grid padrão do projeto */
@layer components {
  .main-bg {
    background: linear-gradient(74deg, #3937b7 60%, rgba(57, 55, 183, 0) 100%),
      url("../src/assets/images/background.jpg");
    background-size: cover;
    background-position: center;
  }

  .container {
    @apply flex max-w-[1600px] px-10 mx-auto;
  }
}
